@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.bg-dark-blue {
    background-color: #00008B; /* Código de color para el azul oscuro */
    /* Puedes ajustar el código de color a tu preferencia */
    color: white; /* Cambia el color del texto si es necesario para la legibilidad */
}